.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}
.card {
  width: 450px;
  min-height: 300px;
  background-color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
.card__title {
  text-align: center;
  line-height: 60px;
  font-family: Roboto, sans-serif;
  background-color: #38F;
  color: #fff;
  font-size: 24px;
  letter-spacing: 5px;
}
.card__content {
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: auto;
}
.card__enter-data {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.card__enter-data_no-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__label {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px;
  display: block;
}
.card__label::after {
  content: ':';
}
.card__input {
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid #222;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.card__input:required ~ label::after {
  content: '*';
  margin-left: 3px;
  color: #b00;
}
.card__input:valid {
  border-bottom: 2px solid #38F;
}
.card__input_not-value {
  border-bottom: 2px solid #b00;
}
.card__bth {
  font-family: Roboto, sans-serif;
  display: block;
  margin: 60px auto 20px;
  width: 200px;
  line-height: 50px;
  background-color: #38F;
  border: none;
  color: #fff;
  font-size: 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.card__bth:focus,
.card__bth:active,
.card__bth:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.card__select {
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.card__select:focus {
  border: 1px solid #38F;
}
