* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  height: 60px;
  background-color: #EEE;
  position: fixed;
  z-index: 5;
}
.content {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
}
.error {
  position: fixed;
  -webkit-animation: show_error 1.5s forwards;
       -o-animation: show_error 1.5s forwards;
          animation: show_error 1.5s forwards;
  top: 80px;
  min-width: 300px;
  max-width: 350px;
  min-height: 100px;
  background-color: #CCC;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
}
.error__header {
  position: relative;
  margin-bottom: 20px;
}
.error__header_text {
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.error__header_close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.error__header_close:hover::before,
.error__header_close:hover::after {
  background-color: #b00;
}
.error__header_close::after,
.error__header_close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: #222;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.error__header_close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
       -o-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.error__header_close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
       -o-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.error__content {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@-webkit-keyframes show_error {
  0% {
    right: -400px;
  }
  100% {
    right: 10px;
  }
}
@-o-keyframes show_error {
  0% {
    right: -400px;
  }
  100% {
    right: 10px;
  }
}
@keyframes show_error {
  0% {
    right: -400px;
  }
  100% {
    right: 10px;
  }
}
