* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em white inset !important;
  -webkit-text-fill-color: #222 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
}
@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}
.header {
  width: 100vw;
  height: 60px;
  background-color: #EEE;
  position: fixed;
  z-index: 5;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.header__links {
  float: right;
  margin-right: 10px;
  height: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__links::after {
  content: '';
  clear: both;
}
.header__link {
  height: 100%;
  margin-right: 20px;
  min-width: 130px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 0.5px solid #4256db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}
.header__link_admin {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  min-width: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #fff !important;
}
a.header__link {
  text-decoration: none;
  background-color: #57a4ff;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a.header__link:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
}
div.header__link {
  background-color: #1565d6;
  color: #fff;
  cursor: default;
}
.header__admin_image {
  height: 100%;
}
.content {
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  background-color: #fafafa;
}
.content__body {
  width: 1200px;
  max-width: 90%;
  margin: auto;
}
.error {
  position: fixed;
  -webkit-animation: show_error 1.5s forwards;
       -o-animation: show_error 1.5s forwards;
          animation: show_error 1.5s forwards;
  top: 80px;
  right: 30px;
  min-width: 300px;
  max-width: 350px;
  min-height: 100px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  z-index: 7;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
}
.error__header {
  position: relative;
  margin-bottom: 20px;
  background-color: #38F;
}
.error__header_text {
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}
.error__header_close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.error__header_close:hover::before,
.error__header_close:hover::after {
  background-color: #b00;
}
.error__header_close::after,
.error__header_close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.error__header_close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
       -o-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.error__header_close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
       -o-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.error__content {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card {
  margin-top: 10px;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
}
.card__title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 3px;
  color: #4a4a4a;
  margin-bottom: 20px;
  line-height: 40px;
  border-bottom: 2px solid #D3D3D3FF;
  width: 100%;
}
.card__body {
  margin-top: 50px;
  width: 70%;
}
.card_radius {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.card_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card_margin {
  margin-bottom: 20px;
}
.card_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.card_no-padding {
  padding: 20px 0;
}
.card_no-padding .resume__subtitle {
  padding-left: 20px;
}
.card_no-design {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.column {
  margin-bottom: 50px;
}
.column_small {
  width: 27%;
}
.column_small-block {
  margin-bottom: 10px;
}
.column_medium {
  width: 72%;
}
.column_big {
  width: 100%;
  margin-bottom: 0;
}
.search {
  width: 90%;
  height: 40px;
}
.js-dragAndDrop {
  display: none;
}
@-webkit-keyframes show_error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show_error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show_error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
