<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Ordinem100.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block links %}{% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    {% if not no_header %}
        {% include('base/modules/header.html') %}
    {% endif %}
    {% if error %}
        {% include('base/modules/error.html') %}
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% if sockets %}
        {% include('base/modules/socket.html') %}
    {% endif %}

    {% block scripts %}{% endblock %}
</body>
</html>