{% extends 'base/base.html' %}

{% block title %}Edit{% endblock %}

{% set main_info = data.get('main_info') %}
{% set public_info = data.get('public_info') %}

{% set conf = config.get('public_info') %}

{% set user_photo = main_info.get('user_photo') %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block content %}
{% set action_user_photo = user_photo and Mage().get_path_to_image(address, user_photo) %}
<div class="content__body">
	<div class="column column_small">
		<div class="card card_radius card_flex">
			<div class="user__photo">
				<a href="{{ url_for('admin') }}" class="user__photo-i">
					{% if action_user_photo %}
					<img class="resume__photo-image js-userImage" src="{{ url_for('static', filename='img/' + Mage().get_path_to_image(address, user_photo)) }}" alt="User photo">
					{% else %}
					<img class="resume__photo-image js-userImage" src="{{ url_for('static', filename='img/man.svg') }}" alt="User photo">
					{% endif %}
				</a>
			</div>
			<div class="user__name">
				<div class="resume__text resume__text_small resume__text_center">
					{{ 'Компания' if main_info.get('role') == 1 else 'Пользователь' }}
				</div>
				<div class="resume__text resume__text_ellips resume__text_center">{{ main_info.get('name') }}</div>
			</div>
		</div>
		<div class="card card_radius card_no-padding">
			<h2 class="resume__subtitle">Навигация</h2>
			<nav class="navigation">
				{% for link in config["links"] %}
				{% if link["name"] == menu %}
				<div class="navigation__item navigation__item_action">
					{{ link["title"].encode('cp1251').decode('utf-8') }}
				</div>
				{% else %}
				<a href="{{ url_for('admin_edit', menu=link['name']) }}" class="navigation__item">
					{{ link["title"].encode('cp1251').decode('utf-8') }}
				</a>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="column column_medium">
		<div class="card card_radius card_center">
			<div class="user__photo-i user__photo_medium user__photo_margin">
				{% if action_user_photo %}
				<img class="resume__photo-image js-userImage" src="{{ url_for('static', filename='img/' + Mage().get_path_to_image(address, user_photo)) }}" alt="User photo">
				{% else %}
				<img class="resume__photo-image js-userImage" src="{{ url_for('static', filename='img/man.svg') }}" alt="User photo">
				{% endif %}
			</div>
			<h2 class="resume__subtitle">Ваша фотография</h2>
			<div class="user__action-block" id="actionImageUser"></div>
		</div>
		<div class="card card_radius card_center">
			<div class="card__title">Редактирование информации</div>
			<div class="card__body" id="formUser">
				<div class="card__redaction" data-name="main_info">
					<label for="name"class="card__redaction_label">
						{{ config['main_info']['name']["title"].encode('cp1251').decode('utf-8') }}
					</label>
					<input type="text"
						class="card__redaction_text jsInputForm"
						value="{{ data['main_info']['name'] or config['main_info']['name']['default'] }}"
						name="name"
						{% for attr, value in config['main_info']['name']['attr'].items() %}
						{{attr}}="{{value}}"
						{% endfor %}
					/>
				</div>
				{% for section_name, section_data in public_info.items() %}
				{% set elems_form = section_data.get('props') %}
				{% for name, value_obj in elems_form.items() %}
					{% set value = value_obj.get('value') %}
					{% if conf[name].get('type') == 'text' %}
					<div class="card__redaction" data-name="{{ section_name }}">
						<label for="{{ name }}"class="card__redaction_label">
							{{ conf[name]["title"].encode('cp1251').decode('utf-8') }}
						</label>
						<input type="text"
							class="card__redaction_text jsInputForm"
							value="{{ value or conf[name]['default'] }}"
							name="{{ name }}"
							{% for attr, value in conf[name]['attr'].items() %}
							{{attr}}="{{value}}"
							{% endfor %}
						/>
					</div>
					{% elif conf[name].get('type') == 'select radio' %}
					<div class="card__redaction card__redaction_select-radio" data-name="{{ section_name }}">
						<h2 class="card__redaction_label">
							{{ conf[name]["title"].encode('cp1251').decode('utf-8') }}
						</h2>
						{% for items in conf[name]["values"] %}
						<div class="card__redaction_select-radio_body" data-name="{{ section_name }}">
							<input type="radio"
								id="{{ name }}_{{ items['value'] }}"
								class="card__redaction_radio jsInputForm"
								name="{{ name }}"
								value="{{ items['value'] }}"
								{% if items['value'] == conf[name]['default'] %}checked{% endif %}
							/>
							<label for="{{ name }}_{{ items['value'] }}"
								class="card__redaction_radio_label"
							>
								{{ items['title'].encode('cp1251').decode('utf-8') }}
							</label>
						</div>
						{% endfor %}
					</div>
					{% elif conf[name].get('type') == 'number' %}
					<div class="card__redaction card__redaction_number-inp" data-name="{{ section_name }}">
						<label class="card__redaction_label">
							{{ conf[name]["title"].encode('cp1251').decode('utf-8') }}
						</label>
						<input type="number"
							class="card__redaction_text card__redaction_text-number jsInputForm"
							value="{{ value or conf[name]['default'] }}"
							name="{{ name }}"
							{% for attr, value in conf[name]['attr'].items() %}
							{{attr}}="{{value}}"
							{% endfor %}
						/>
					</div>
					{% endif %}
				{% endfor %}
				{% endfor %}
				<div class="card__readaction">
					<h2 class="card__redaction_label">Обо мне</h2>
					<div class="card__redaction_about_us" id="infoAboutAs"></div>
				</div>
				<button class="user__bth user__bth_action user__bth_center" id="redactionUser">Редактировать</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/load_image.js') }}" ></script>
<script>
	let img = new LoadImage({
		action: '#actionImageUser',
		blocks_load: '.js-userImage',
		status: {{'true' if Mage().get_path_to_image(address, user_photo) else 'false'}},
		default_image: "{{ url_for('static', filename=config['main_info']['user_photo']['default']) }}"
	});
</script>
<script src="{{ url_for('static', filename='lib/js/editorjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/editorjslist.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/editorjsheader.min.js') }}"></script>
<script>
	var global_edit_name = 'public_info';

	var editor = new EditorJS({
		holder: 'infoAboutAs',
		minHeight: 100,
		tools: {
			list: {
      			class: List,
      			inlineToolbar: true,
    		},
    		header: {
      			class: Header,
      			shortcut: 'CMD+SHIFT+H',
    		}
		},
		placeholder: 'Расскажите немного о себе',
		data: {
			{% if data['about_us'] %}
				blocks: fixJsObj('{{ data['about_us'] }}')
			{% endif %}
		}
	});
</script>
<script src="{{ url_for('static', filename='js/redactor_user.js') }}"></script>
{% endblock %}