{% extends 'base/card.html' %}

{% block title %}LogIn{% endblock %}
{% set cardTitle = 'Авторизация' %}

{% block links %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dragAndDrop.css') }}">
{% endblock %}

{% set blocks_key = [
	{'name': 'publicKey', 'title': 'Публичный ключ'},
	{'name': 'privateKey', 'title': 'Приватный ключ'}
] %}

{% block card %}
<form action="/todo/login" method="POST" id="login" enctype="multipart/form-data">
	<div class="card__enter-data">
		<div id="drAndDradress"></div>
		<p class="card__label">Ваш адрес</p>	
	</div>

	<p class="card__label">Ключи</p>
	<div id="addKeysBlock">
		<div class="card__flex-block js-key-block">
		{% for key in blocks_key %}
			<div class="card__flex_element">
				<label class="card__label card__label_small" for="{{key.name}}">{{key.title}}</label>
				<div id="drAndDr{{key.name}}"></div>
			</div>
		{% endfor %}
		</div>
	</div>
	<input type="submit" class="card__bth" id="cardAction" value="Отправить" />
	<div class="card__small-link">
		<a href="{{ url_for('index') }}">На главную</a>
	</div>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/dragAndDrop.js') }}"></script>
<script>
	new DragAndDrop('address', 'Загрузите ваш адресс', '#drAndDradress');

	{% for key in blocks_key %}
	new DragAndDrop('{{key.name}}', 'Загрузите ключ', '#drAndDr{{key.name}}');
	{% endfor %}
</script>
{% endblock %}