{% extends 'base/card.html' %}

{% block title %}LogIn{% endblock %}
{% set cardTitle = 'Log in' %}

{% set inputs = [
	{"title": "Ваша почта", "name": "email", "type": "email", "placeholder": "uearemail@mail.com"},
	{"title": "Пароль", "name": "password", "type": "password", "placeholder": "******"}
] %}

{% set blocks_key = [
	{'name': 'publicKey', 'title': 'Публичный ключ'},
	{'name': 'privateKey', 'title': 'Приватный ключ'}
] %}

{% block card %}
<form action="/todo/login" method="POST" id="login" enctype="multipart/form-data">
	{% for inp in inputs %}
		<div class="card__enter-data">
			<input
				class="card__input"
				type="{{ inp.type or 'text' }}"
				name="{{ inp.name }}"
				autocomplete="disable"
				{{ inp.placeholder and "placeholder=" + inp.placeholder }}
			/>
			<label class="card__label" for="{{ inp.name }}">{{ inp.title }}</label>
		</div>
	{% endfor %}

	<p class="card__label">Ключи</p>
	<div id="addKeysBlock">
		<div class="card__flex-block js-key-block">
		{% for key in blocks_key %}
			<div class="card__flex_element">
				<label class="card__label card__label_small" for="{{key.name}}">{{key.title}}</label>
				<input type="file" name="{{key.name}}" multiple/>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="card__checkbox">
		<input type="checkbox" name="newKey" id="newKey" value="new_key" />
		<label for="newKey">Создать новые ключи</label>
	</div>
	<input type="submit" class="card__bth" id="cardAction" value="Отправить" />
	<div class="card__small-link">
		<a href="{{ url_for('index') }}">На главную</a>
	</div>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}